@import url('https://fonts.googleapis.com/css2?family=Press+Start+2P&display=swap');

@import './variables.scss';

*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

a{
  all: unset;
  box-sizing: border-box;
  cursor: pointer;
}

:root{
  background-color: $base;
  color: $text;
  font-family: 'Press Start 2P', sans-serif;
  font-size: 62.5%;
  overflow: hidden;
}

ul{
  list-style: none;
}

body{
  font-size: 2rem;
}

h2{
  font-size: 1.7rem;
}

p{
  font-size: 1.3rem;
}

.button{
  background-color: $blue;
  color: $base;
  padding: 1rem;
  opacity: 0.7;
  transition: .5s;
}

.button:hover{
  opacity: 1;
}

.outlined{
  border: dashed $text 0.2rem;
}

.sub-text{
  color: $sub-text;
  opacity: 0.7;
}

.sub-text-2{
  color: $sub-text-2;
}

::-webkit-scrollbar {
  height: 0.8rem;
  width: 0.8rem;
}

/* Track */
::-webkit-scrollbar-track {
  background: $text;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: $surface;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: $surface-2;
} 

@media(max-width:1300px) {
  :root{
    font-size: 50%;
  }
}

@media(max-width:600px) {
  :root{
    font-size: 40%;
  }
}