@import "../../styles/variables.scss";
@import "../../styles/animations.scss";

.l-general{
  height: 100vh;
  width: 100vw;
  display: flex;
}

.icon{
  height: 3rem;
  width: 3rem;
}

.nav{
  background-color: $surface;
  height: 100%;
  width: 30%;
  padding: 1rem;
  >div{
    padding-top: 6rem;
    padding-left: 4rem;
    height: 100%;
    div{
      display: flex;
      gap: 2rem;
      align-items: center;
      margin-bottom: 2rem;
      img{
        opacity: 0.7;
        cursor: pointer;
        transition: .5s;
      }
      img:hover{
        opacity: 1;
      }
    }
  }
  ul{
    margin-top: 10%;
    padding: 4rem;
    display: flex;
    flex-direction: column;
    gap: 3rem;
    width: 80%;
    li{
      cursor: pointer;
      display: flex;
      gap: 1rem;
      align-items: center;
      transition: .5s;
      img{
        height: 2rem;
        width: 2rem;
        animation: idle .5s alternate infinite, grow-up .3s;
      }
    }
    li:hover{
      transform: scale(1.2) translateX(4rem);
    }
    li:not(:hover){
      color: $sub-text-2;
      opacity: 0.7;
    }
  }
}

.nav h2{
  transition: .5s;
}

.nav h2:hover{
  color: $blue;
}

.dialog-box{
  position: absolute;
  width: 80%;
  height: 20rem;
  background-color: $surface-2;
  bottom: 6%;
  left: 10%;
  padding: 1rem;
  div{
    height: 100%;
    padding: 2rem;
    display: flex;
    align-items: center;
    p{
      word-wrap: pre-wrap;
      line-height: 2rem;
      width: 90%;
      word-spacing: 0.1rem;
    }
  
  }
}

.nav-mobile{
  display: none;
}

.ilwel{
  position: absolute;
  bottom: 0;
  right: 0;
  height: 35rem;
  width: auto;
  z-index: 2;
}

@media(max-width:1300px) {
  .nav{
    display: none;
  }
  .nav-mobile{
    display: block;
    position: absolute;
    top: 4rem;
    left: 4rem;
    cursor: pointer;
    :hover{
      opacity: 1;
    }
    img{
      height: 5rem;
      width: 5rem;
      opacity: 0.7;
      transition: .5s;
    }
  }
  .dialog-box{
    height: 30rem;
    bottom: 3%;
    div{
      overflow-y: auto;
      direction: rtl;
      padding-right: 20rem;
      p{
        direction: ltr;
      }
    }
  }
}